.DS_Store
.venv/
.vendor/
.vendor_py313/
.pytest_cache/
__pycache__/
**/__pycache__/

Data/
data/
outputs/
**/output/*
**/outputs/*
!models/surrogate_modelling/output/
!models/surrogate_modelling/output/temperature/
!models/surrogate_modelling/output/temperature/best_temperature_3d_unet_surrogate.pt
!models/rollout_surrogate/outputs/
!models/rollout_surrogate/outputs/best_temperature_3d_unet_surrogate_rollout.pt

*.npy
*.npz
*.gif
